.hero-section
    &__title-wrapper
        width: 50%
        margin-left: 80px

    &__image-area :hover
        transition: transform 350ms
        transform: translateY(9.5px)


.form
    display: flex
