<app-header></app-header>

<div class="hero-section flex justify-center p-24">
    <div class="hero-section__image-area"></div>
    <div class="hero-section__title-wrapper">
        <div class="hero-section__title font-light text-xl">Bem Vindo!</div>
        <div class="hero-section__subtitle text-3xl font-bold">
            Sou locutor e esse é o meu repertório.
        </div>
        <div class="hero-section__text text-xl font-normal">
            <br />
            Trabalhei com áudio para filmes no mercado publicitário durante 10
            anos.
            <br />
            <br />
            Durante esse tempo, tive a oportunidade de produzir peças para
            grandes agências e marcas, período em que dirigi os maiores
            locutores.
            <br /><br />Nesse contexto fiz locução para vídeos internos, cases,
            vídeos de apresentação, treinamento, campanhas para internet,
            institucionais e tutoriais - assumindo inevitavelmente então o cargo
            oficial de locutor. <br />
            <br />
            Esses trabalhos renderam outras locuções incluindo spots de rádio,
            comerciais de televisão e campanhas nacionais para clientes como:
            <b
                >Volkswagen Nivus, Amazon Prime, Bradesco, Babbel, Petrobrás,
                Banco do Brasil, Extra, Fiat, Ministério da Educação, Subway</b
            >
            entre outros; incluindo também locuções em língua estrangeira
            (inglês e espanhol), voz original de personagem, games, narração de
            áudiolivro, spots para rádio, portfolios, varejo, documentários,
            interfaces de voz e URA (espera telefônica).
        </div>
    </div>
</div>

<app-cards-section
    title="Portfólio"
    subtitle="Saiba mais acessando os trabalhos abaixo."
></app-cards-section>

<app-footer></app-footer>
