<app-header></app-header>

<div class="hero-section flex justify-center pt-32 pb-16">
    <div class="hero-section__image-area flex">
        <div class="hero-section__image-area-left mr-0.5 mt-3.5">
            <img
                alt="left part of profile picture"
                class="w-161px h-580px rounded-lg"
                src="assets/images/profile-picture/left-face.png"
            />
        </div>
        <div class="hero-section__image-area-middle">
            <img
                alt="middle part of profile picture"
                class="w-155px h-579px rounded-lg"
                src="assets/images/profile-picture/middle-face.png"
            />
        </div>
        <div class="hero-section__image-area-rigth ml-0.5 mt-3.5">
            <img
                alt="rigth part of profile picture"
                class="w-158px h-580px rounded-lg"
                src="assets/images/profile-picture/right-face.png"
            />
        </div>
    </div>
    <div class="hero-section__title-wrapper">
        <div class="hero-section__title font-light text-xl">Bem Vindo!</div>
        <div class="hero-section__subtitle text-3xl font-bold">
            Sou locutor e esse é o meu repertório.
        </div>
        <div class="hero-section__text text-xl font-normal">
            <br />
            Sou mais conhecido pelo meu trabalho em campanhas nacionais com grandes marcas como
            <b>WhatsApp, Volkswagen Nivus, Petrobrás, Extra, Bradesco, Amazon Prime, Ministério da
            Educação, Subway</b> entre outros.
            <br />
            <br />
            Mas também fui locutor em inúmeros projetos como: vídeos internos, cases, vídeos de
            apresentação, treinamento, campanhas para internet, institucionais e tutoriais. Incluindo
            também locuções em língua estrangeira (inglês, espanhol e francês), voz original de
            personagem, games, narração de áudiolivro, spots para rádio, portfolios, varejo,
            documentários, interfaces de voz e URA (espera telefônica).
            <br /><br />
            Além disso, fui produtor musical de peças publicitárias por mais de 10 anos, período em que
            dirigi centenas de locutores e atores. Produzi campanhas de grande destaque; algumas delas
            premiadas com <b> Cannes Lions, El Ojo, D&AD, Clio, Ciclope, LIA, The One Show </b> entre outros.
        </div>
    </div>
</div>

<app-cards-section
    sectionTitle="Portfólio"
    sectionSubtitle="Saiba mais acessando os trabalhos abaixo."
>
    <app-project-list [projects]="projects"></app-project-list>
</app-cards-section>

<app-footer></app-footer>
