.hero-section
    padding-right: 11rem
    padding-left: 11rem

    &__subtitle
        display: inline-block
        border-bottom: 4px solid #F5BB4E
        padding-bottom: 2px

    &__title-wrapper
        width: 50%
        margin-left: 80px

    &__image-area > *
        transition: transform 500ms

        &:hover
            transform: translateY(9.5px)

.form
    display: flex

@media screen and (max-width: 1366px)
    .hero-section
        padding-right: 0
        padding-left: 0
