.hero-section
    &__title-wrapper
        width: 50%
        margin-left: 80px

    &__image-area > *
        transition: transform 500ms

        &:hover
            transform: translateY(9.5px)

.form
    display: flex
