.project-container
    max-width: 1024px
    margin: 0 auto

.project-hero-section
    padding: 2rem 0 1rem 0

.project-tags > app-project-tag
    margin: 1rem 1rem 0 0
    display: inline-block

.project-video
    &__iframe
        width: 1131px
        height: 636px

.project-video-button
    padding: .5rem 0
    display: flex
    align-items: center

.project-video-text
    padding: 1.5rem 0
    margin: auto
    font-weight: 400
    font-size: 1.125rem
    text-align: justify

.card__title
    display: flex
    align-items: center
    justify-content: center
    padding: 0.5rem 1.5rem
    border-radius: .375rem
    border: 1px solid rgba(234, 179, 8, 1)
    margin-right: 2rem
    transition: all .5s

.card__title:hover
    background-color: #F5BB4E
    color: white

    .card__title-icon
        color: white

.card__title-icon
    transition: all .5s
    color: #F5BB4E
    margin-right: .75rem

.project-share-button
    border: 1px solid #ededed

@media screen and (max-width: 927px)
    .card__title
        margin-right: unset
        font-size: .7rem

    .project-video-button
        justify-content: space-between

// MOBILE VIEW
@media screen and (max-width: 600px)
    .project-video__iframe
        width: 100%
        height: 100%

    .card__title
        margin: .5rem 0 .5rem 0
        width: 100%
        padding: 5px
        font-size: 0.5rem
        width: 120px

        &-icon
            margin-right: .5rem

    .project-container
        padding: 0 2rem
