<div class="hero-section flex justify-center px-96 pt-24 pb-12">
    <div class="project-title-wrapper float-left w-full">
        <div class="project-title text-7xl font-extrabold text-yellow-500">
            WIZARD
        </div>
        <div class="project-subtitle py-5 text-2xl font-bold">
            "Os melhores motivos"
        </div>
        <div class="project-tags">
            <button
                class="card__title mx-2 w-16 h-7 rounded-md border-solid border-2 border-yellow-500"
            >
                Natural</button
            ><button
                class="card__title mx-2 w-16 h-7 rounded-md border-solid border-2 border-yellow-500"
            >
                Natural</button
            ><button
                class="card__title mx-2 w-16 h-7 rounded-md border-solid border-2 border-yellow-500"
            >
                Natural</button
            ><button
                class="card__title mx-2 w-16 h-7 rounded-md border-solid border-2 border-yellow-500"
            >
                Natural
            </button>
            <button
                class="card__title mx-2 w-16 h-7 rounded-md border-solid border-2 border-yellow-500"
            >
                Natural
            </button>
        </div>
    </div>
</div>
<div class="project-video flex justify-center px-24">
    <iframe
        src="https://player.vimeo.com/video/163721649"
        width="1180"
        height="651"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
<div class="project-video-button flex py-2 w-3/5 text-left m-auto">
    <button
        class="card__title flex items-center justify-around mx-2 w-48 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon svgIcon="heroicons_solid:share"></mat-icon>
        Compartilhar Link
    </button>
    <button
        class="card__title flex items-center justify-around mx-2 w-36 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon svgIcon="heroicons_solid:download"></mat-icon>
        Baixar video
    </button>
    <button
        class="card__title flex items-center justify-around mx-2 w-36 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon svgIcon="heroicons_solid:download"></mat-icon>
        Baixar audio
    </button>
</div>
<div class="project-video-text py-8 w-3/5 m-auto font-normal text-xl">
    Locução para a propaganda Os Melhores Motivos da escola de inglês Wizard
    feita com a produtora Alma 11:11, produtora de vídeo Brigitte Filmes e
    agência de publicidade 35 Agency. O projeto pediu por uma interpretação de
    locução comercial (locutor jovem e animado), mas que tivesse elementos da
    locução natural. O resultado é um discurso dinâmico e ritmado, porém com a
    energia particular da locução publicitária vendedora. A veiculação dessa
    peça foi para televisão e todas as mídias.
</div>

<div class='search-area'>

</div>
