<app-header></app-header>

<div class="project-hero-section flex justify-center">
    <div class="project-title-wrapper float-left w-full">
        <div class="project-title text-7xl font-extrabold text-yellow-500">
            {{ currentProject.titulo }}
        </div>

        <div class="project-subtitle py-5 text-2xl font-bold">
            "{{ currentProject.subtitulo }}"
        </div>

        <div class="project-tags">
            <button
                class="card__title px-1 m-1.5 mx-2 w-auto rounded-md border-solid border-2 border-yellow-500"
                *ngFor="let tag of currentProject.tags"
            >
                {{ tag }}
            </button>
        </div>
    </div>
</div>

<div class="project-video flex justify-center my-3">
    <iframe
        class="project-video__iframe"
        [src]="service.getYouTubeIframeUrl(currentProject) | safe"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>

<div class="project-video-button flex py-2 text-left m-auto">
    <button
        (click)="shareLink()"
        class="card__title flex items-center justify-around mx-2 w-48 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon
            class="card__title-icon"
            svgIcon="heroicons_solid:share"
        ></mat-icon>
        Compartilhar Link
    </button>
    <a
        href="media/video/Wizard%20-%20Os%20Melhores%20Motivos.mp4"
        class="card__title flex items-center justify-around mx-2 w-36 h-10 rounded-md border-solid border-2 border-yellow-500"
        download
    >
        <mat-icon
            class="card__title-icon"
            svgIcon="heroicons_solid:download"
        ></mat-icon>
        Baixar video
    </a>
    <button
        class="card__title flex items-center justify-around mx-2 w-36 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon
            class="card__title-icon"
            svgIcon="heroicons_solid:download"
        ></mat-icon>
        Baixar audio
    </button>
</div>

<div *ngIf="visibleShareLink" class="project-share-button flex w-3/5 m-auto">
    <input
        class="w-full"
        disabled
        [value]="service.getYouTubeIframeUrl(currentProject)"
        type="text"
    />
    <button
        cdkCopyToClipboard="{{ service.getYouTubeIframeUrl(currentProject) }}"
        class="card__title flex items-center justify-around mx-2 w-36 h-10 rounded-md border-solid border-2 border-yellow-500"
    >
        <mat-icon
            data-toggle="popover"
            data-value="aaa"
            data-mode="popover"
            data-label="aaaaa"
            data-placement="top"
            class="card__title-icon"
            svgIcon="content_copy"
        ></mat-icon>
        Copiar
    </button>
</div>

<div
    *ngIf="currentProject.descricao"
    class="project-video-text py-8 m-auto font-normal text-xl"
>
    {{ currentProject.descricao }}
</div>

<app-cards-section sectionTitle="Relacionados">
    <app-project-list [projects]="relatedProjects"></app-project-list>
</app-cards-section>

<app-footer></app-footer>
