$default-color-1: #ffdb4f !important

.default-color
    color: $default-color-1
.default-background
    background: $default-color-1
.project-hero-section,
.project-audio
    padding: 2rem 24rem 0

.card__title:hover
    background-color: $default-color-1

    .card__title-icon
        color: white

.card__title-icon
    color: $default-color-1 //old #F5BB4E

.project-video
    padding-left: 6rem
    padding-right: 6rem

    &__iframe
        width: 1131px
        height: 636px

.project-video-button
    width: 60%

.project-video-text
    width: 60%

.project-share-button
    border: 1px solid #ededed

@media screen and (max-width: 1366px)
    .project-hero-section,
    .project-audio
        padding: 2rem 7rem 0

    .project-video-text
        width: 83%

    .project-video-button
        width: 83%

@media screen and (max-width: 1280px)
    .project-hero-section,
    .project-audio
        padding: 2rem 5.6rem 0

    .project-video-button
        width: 86.8%

// MOBILE VIEW
@media screen and (max-width: 600px)
    .project-hero-section,
    .project-audio
        padding: 2rem 2rem 0 2rem

    .project-video
        padding-left: 2.5rem
        padding-right: 2.5rem

    .project-video__iframe
        width: 100%
        height: 100%

    .project-video-text
        width: 90%

    .project-video-button
        flex-direction: column-reverse
