.project-hero-section
    padding: 2rem 24rem 0

.project-video-text
    width: 60%

.project-video-button
    width: 60%

.card__title:hover
    background-color: #F5BB4E

    .card__title-icon
        color: white

.card__title-icon
    color: #F5BB4E

.project-share-button
    display: block


@media screen and (max-width: 1366px)
    .project-hero-section
        padding: 2rem 7rem 0

    .project-video-text
        width: 83%

    .project-video-button
        width: 83%



