.header-area
    padding-left: 16rem
    padding-right: 16rem

.header-area__mobile-button
    display: none !important

.header-title
    margin-left: 7rem

.header-icon
    color: rgb(100, 116, 139)


.header-icon:hover
    color: #FEB633
    fill: #FEB633

@media screen and (max-width: 1366px)

    .header-title
        margin-left: 1px

    .header-area
        padding-left: 6.8rem
        padding-right: 6.8rem

//MOBILE SCREEN

@media screen and (max-width: 600px) and (max-width: 768px)
    .header-area
        justify-content: space-around
        padding: 0

    .header-area__mobile-button
        display: flex !important


    .header-area__icon-wrapper
        display: none !important












