.header-area
    padding-left: 14rem
    padding-right: 14rem
    background-color: #FBFBFB

.header-area__mobile-button
    display: none !important

.header-title
    margin-left: 7rem

.header-icon
    color: #4D4E56

.header-icon:hover
    color: #FEB633
    fill: #FEB633

@media screen and (max-width: 1366px)

    .header-title
        margin-left: 1px

    .header-area
        padding-left: 12rem
        padding-right: 12rem

@media screen and (max-width: 1280px)
    .header-area
        padding-left: 5.5rem
        padding-right: 5.5rem

// MOBILE VIEW

@media screen and (max-width: 600px)
    .header-area
        padding: 0
        text-align: center
        justify-content: space-evenly

    .header-area__mobile-button
        display: flex !important

    .header-area__icon-wrapper
        background-color: #FFFFFF
        position: absolute
        bottom: -55px
        display: flex
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%)
        padding: 0.5rem
        border-radius: 4px

