/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap')


$base-color: #060504

.mat-form-field-infix
    padding: 0

.mat-form-field:hover.mat-focused .mat-form-field-underline
    opacity: 1

.mat-form-field:not(.mat-focused) .mat-form-field-underline
    opacity: 0

.chips
    position: relative

    .chip
        display: none

.autocomplete-content.dropdown-content
    min-width: 100%
    max-height: 300px
.style-link
    text-decoration: underline $base-color
    font-weight: 400

    &:hover
        font-weight: 600
