.cards-section
    padding-bottom: 1.5rem
    padding-left: 16rem
    padding-right: 16rem

.cards-section__card
    transition: all .5s ease-in-out

    &:hover
        transform: scale(1.1)
        background-color: initial

.card__thumbnail
    width: 26rem
    height: 24rem

.card__title
    background: white
    transition: all .5s ease-in-out

.card__title:hover
    background-color: #F5BB4E
    transform: scale(1.1)

.cardcolor1
    background-color: #C1C478
    background-blend-mode: multiply

.cardcolor2
    background-color: #DAA97A
    background-blend-mode: multiply

.cardcolor3
    background-color: #8E648F
    background-blend-mode: multiply

@media screen and (max-width: 1366px)
    .cards-section
        padding-left: 1rem
        padding-right: 1rem

//MOBILE VIEW

@media screen and (max-width: 600px)
    .card__thumbnail
        width: 21rem
        height: 18rem
