<app-cards-filter
    [projects]="service.projects"
    (filteredProjects)="filterProjects($event)"
></app-cards-filter>

<div class="cards-section flex justify-center flex-wrap" #projectsElement>
    <div
        class="card"
        *ngFor="let project of projects; let i = index"
        [attr.data-index]="i"
    >
        <a [routerLink]="'/' + service.getSlug(project)">
            <figure
                class="cards-section__card"
                [ngClass]="'card__thumbnail rounded-lg m-2 relative text-center'"
                [style.background-image]="
                    'url(' + service.getYouTubeImageUrl(project) + ')'
                "
                style="background-repeat:no-repeat"
                [style.background-position]="project.imagem_posicao || 'center'"
                [style.background-size]="
                    (project.imagem_largura || 'auto')
                    + ' '
                    + (project.imagem_altura || '135%')
                "
            >
                <div class="card-title-wrapper text-white pt-3.5" *ngIf="!expandedCardList.includes(project.id)">
                    <div class="card-title font-extrabold text-4xl grifado">
                        {{ project.titulo }}
                    </div>

                    <div class="card-subtitle font-normal text-xl grifado">
                        {{ project.subtitulo }}
                    </div>
                </div>

                <div class="absolute bottom-8 w-full text-center" style="display: flex; flex-wrap: wrap; justify-content: center;" [ngClass]="{'card-tags-expand': expandedCardList.includes(project.id)}">
                    <ng-container *ngFor="let tag of getTagList(project); let idx = index">
                    <app-project-tag
                        *ngIf="idx < TAGS_AMOUNT || expandedCardList.includes(project.id)"
                        [tag]="tag"
                        [canCloseOnClick]="true"
                    ></app-project-tag>
                </ng-container>

                    <button
                        (click)="toggleExpandTag($event, project.id)"
                        class="tag text-sm p-2 w-auto rounded-md border-solid border-2 border-yellow-500 m-1"
                        style="padding: 0 12px !important;
                        height: 30px;
                        max-height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent;
                        color: white;
                        text-shadow: 1px 1px 1.5px black;"
                    >
                        <ng-container *ngIf="!expandedCardList.includes(project.id); else notTag">
                            <i class="small material-icons">add</i>
                        </ng-container>
                        <ng-template #notTag>
                            <i class="small material-icons">arrow_downward</i>
                        </ng-template>
                    </button>
                </div>
            </figure>
        </a>
    </div>
</div>
