<app-cards-filter
    [projects]="service.projects"
    (filteredProjects)="updateList($event)"
></app-cards-filter>

<div class="cards-section flex justify-center flex-wrap">
    <div class="card" *ngFor="let project of projects; let i = index">
        <a [routerLink]="'/' + service.getSlug(project)">
            <figure
                class="cards-section__card"
                [ngClass]="
                    i % 3 === 0
                        ? 'card__thumbnail rounded-lg m-2 relative text-center cardcolor3'
                        : i % 2 === 0
                        ? 'card__thumbnail rounded-lg m-2 relative text-center cardcolor2'
                        : 'card__thumbnail rounded-lg m-2 relative text-center cardcolor1'
                "
                [style.background-image]="
                    'url(' + service.getYouTubeImageUrl(project) + ')'
                "
                [style.background-position]="project.imagem_posicao || 'center'"
                [style.background-size]="
                    (project.imagem_largura || 'auto')
                    + ' '
                    + (project.imagem_altura || '135%')
                "
            >
                <div class="card-title-wrapper text-white pt-3.5">
                    <div class="card-title font-extrabold text-4xl">
                        {{ project.titulo }}
                    </div>
                    <div class="card-subtitle font-normal text-xl">
                        {{ project.subtitulo }}
                    </div>
                </div>

                <div class="tags absolute bottom-8 w-full text-center">
                    <button
                        class="card__title text-sm p-1 m-2.5 w-auto rounded-md border-solid border-2 border-yellow-500"
                    >
                        {{ project.tags[0] }}
                    </button>

                    <button
                        class="card__title text-sm p-1 m-2.5 w-auto rounded-md border-solid border-2 border-yellow-500"
                    >
                        {{ project.tags[1] }}
                    </button>

                    <button
                        class="card__title text-sm p-1 m-2.5 w-auto rounded-md border-solid border-2 border-yellow-500"
                    >
                        {{ project.tags[2] }}
                    </button>

                    <button
                        class="card__title text-sm px-1.5 m-2.5 w-auto rounded-md border-solid border-1 border-white bg-white bg-opacity-25"
                    >
                        <mat-icon inline class="text-sm p-1"> add</mat-icon>
                        {{ project.tags.length - 3 }}
                    </button>
                </div>
            </figure>
        </a>
    </div>
</div>
