.cards-section
    padding-bottom: 1.5rem
    padding-left: 16rem
    padding-right: 16rem

    &__card
        transition: all .5s ease-in-out

        &:hover
            transform: scale(1.1)
            background-color: initial

.card
    &__thumbnail
        width: 24rem
        height: 22rem

    &__title
        transition: all .2s ease-in-out

        &:hover
            transform: scale(1.05)

.cardcolor
    &1
        background-color: #C1C478
        background-blend-mode: multiply

    &2
        background-color: #DAA97A
        background-blend-mode: multiply

    &3
        background-color: #8E648F
        background-blend-mode: multiply

@media screen and (max-width: 1366px)
    .cards-section
        padding-left: 1rem
        padding-right: 1rem

// MOBILE VIEW

@media screen and (max-width: 600px)
    .card__thumbnail
        width: 21rem
        height: 18rem
