.card__thumbnail
    background-image: url("https://image.freepik.com/free-photo/happy-black-young-man-wears-elegant-dark-suit-posing-with-pleased-smile-indoor-photo-relaxed-mulatto-male-model-glasses-enjoying-photoshoot_197531-21931.jpg")
    width: 26.3rem

.card__title
    background: white
