<!--Search Area-->
<div class="search-area text-center justify-center px-72">
    <h1 class="search-area__title text-3xl font-bold py-5">Portifólio</h1>
    <h2 class="search-area__subtitle text-lg font-normal pb-8">
        Saiba mais acessando os trabalhos abaixo.
    </h2>
    <div class="flex items-center">
        <div class="flex items-center flex-auto">
            <button
                mat-icon-button=""
                class="mat-focus-indicator flex lg:hidden -ml-2 mat-icon-button mat-button-base"
            >
                <span class="mat-button-wrapper"
                    ><mat-icon
                        role="img"
                        class="mat-icon notranslate mat-icon-no-color"
                        aria-hidden="true"
                        data-mat-icon-type="svg"
                        data-mat-icon-name="menu"
                        data-mat-icon-namespace="heroicons_outline"
                        ><svg
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            height="100%"
                            width="100%"
                            preserveAspectRatio="xMidYMid meet"
                            focusable="false"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            ></path></svg></mat-icon></span
                ><span
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                ></span
                ><span class="mat-button-focus-overlay"></span>
            </button>
            <!--            Search box-->
            <form class="p-3.5 bg-gray-200 w-full flex rounded-lg">
                <mat-icon>search</mat-icon>
                <input
                    class="w-full ml-5"
                    type="text"
                    placeholder="Busque por cliente, clima, interpretação, tipo da peça, área de atuação, etc"
                />
            </form>
            <!--            Search box-->
        </div>
    </div>
</div>
<!--Search Area-->
