.cards-section
    &__title
        display: inline-block
        border-bottom: 4px solid #F5BB4E
        padding-bottom: 2px

#cards-filter
    border-top: 130px solid transparent
    margin-top: -130px
    display: inline-block
    -webkit-background-clip: padding-box
    -moz-background-clip: padding
    background-clip: padding-box

// MOBILE VIEW

@media screen and (max-width: 600px)
    .cards-section
        padding-left: 0
        padding-right: 0
