.cards-section
    &__title
        display: inline-block
        border-bottom: 4px solid #F5BB4E
        padding-bottom: 2px

// MOBILE VIEW

@media screen and (max-width: 600px)
    .cards-section
        padding-left: 0
        padding-right: 0
