<div class="search-area text-center justify-center">
    <div class="flex items-center">
        <mat-form-field class="w-full" appearance="standard">
            <mat-chip-list
                #chipList
                class="p-3.5 bg-gray-100 w-full flex rounded-lg"
            >
                <mat-icon>search</mat-icon>

                <mat-chip
                    class="search__chip"
                    *ngFor="let searchTag of searchTags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(searchTag)"
                >
                    {{ searchTag }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>

                <input
                    placeholder="Busque por cliente, clima, interpretação, tipo da peça, área de atuação, etc"
                    #searchInput
                    class="search__input"
                    [formControl]="formControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-list>

            <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
            >
                <!-- TODO: Rework to hide instead of rewrite HTML -->
                <mat-option
                    *ngFor="let projectTag of filteredProjectTags | async"
                    [value]="projectTag"
                >
                    {{ projectTag }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!--        <div class="search-area__box flex items-center flex-auto">-->
        <!--            <div class="p-3.5 bg-gray-200 w-full flex rounded-lg">-->
        <!--                <mat-icon>search</mat-icon>-->

        <!--                <input-->
        <!--                    #searchInput-->
        <!--                    class="w-full ml-5"-->
        <!--                    type="text"-->
        <!--                    placeholder="Busque por cliente, clima, interpretação, tipo da peça, área de atuação, etc"-->
        <!--                />-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
