.search
    &-area
        padding: 1.5rem 20rem

    &__input
        width: 500px


@media screen and (max-width: 1366px)
    .search-area
        padding-bottom: 1.5rem
        padding-right: 2.5rem
        padding-left: 2.5rem


        //MOBILE VIEW
@media screen and (max-width: 600px)
    .search-area
        padding-right: 3rem
        padding-left: 3rem

    .search__input
        width: 250px

