$default-color-1: #ffdb4f !important
.chips-target
    display: flex
    margin: 8px

.search
    &-area
        padding: 1.5rem 20rem

    &__icon
        position: absolute
        left: 20px
        top: 20px
        transform: scale(1.5)

    &__input
        text-indent: 4rem

    &__chip
        border: 1px solid $default-color-1
        background: $default-color-1

@media screen and (max-width: 1366px)
    .search-area
        padding-bottom: 1.5rem
        padding-right: 2.5rem
        padding-left: 2.5rem


        // MOBILE VIEW
@media screen and (max-width: 600px)
    .search-area
        padding-right: 3rem
        padding-left: 3rem

    .search__input
        text-overflow: ellipsis
        width: 250px

