<div class="cards-section flex justify-center p-24 flex-wrap">
    <div class="card" *ngFor="let item of [0, 0, 0, 0, 0, 0]">
        <figure
            class="card__thumbnail rounded-lg w-90 h-90 m-5 bg-cover relative text-center"
        >
            <div class="card-title-wrapper text-white pt-3.5">
                <div class="card-title font-extrabold text-4xl">Locução: Wizard</div>
                <div class="card-subtitle font-normal text-xl">“Os melhores motivos”</div>
            </div>
            <div class="tags absolute bottom-8 w-full text-center">
                <button class="card__title mx-2 w-16 h-7 rounded-md">
                    Natural
                </button>
                <button class="card__title mx-2 w-16 h-7 rounded-md">
                    Natural
                </button>
                <button class="card__title mx-2 w-16 h-7 rounded-md">
                    Natural
                </button>
                <button class="card__title mx-2 w-5 h-6 rounded-md">+6</button>
            </div>
        </figure>
    </div>
</div>
